[MASTER]
# jobs=0 means 'use all CPUs'
jobs=0

[MESSAGES CONTROL]
disable =
  missing-docstring,
  line-too-long,
  invalid-name,
  no-value-for-parameter,
  no-member,
  unused-argument,
  broad-except,
  wrong-import-position,
  bare-except,
  locally-disabled,
  protected-access,
  abstract-method,
  fixme,
  too-few-public-methods,
  useless-object-inheritance,
  consider-using-f-string,
  redefined-outer-name


[REPORTS]
output-format=colorized

[FORMAT]
logging-modules=
  logging,
  structlog,
