name: Build jobs
# Triggered by changes in code-specific or job-specific files

on:
  pull_request:
    paths:
      - '**.py'
      - '.github/workflows/*.yml'
      - '.pylintrc'
      - 'pyproject.toml'
      - 'tox.ini'
      - '!docs/**'
  push:
    branches:
      - master

jobs:
  pre-commit:
    name: Generic pre-commit checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1

      - uses: actions/setup-python@v1
        with:
          python-version: 3.7

      - run: pip install pre-commit
      - run: SKIP=pylint,mypy pre-commit run --all-files

  pylint:
    name: Pylint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1

      - uses: actions/setup-python@v1
        with:
          python-version: 3.7

      - run: pip install pre-commit
      - run: pre-commit run pylint --all-files

  mypy:
    name: Mypy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - run: pip install pre-commit
      - run: pre-commit run mypy --all-files

  tests:
    name: tests_${{ matrix.tox_job }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tox_job: [py35, py36, py37, py38, py39, no_pycurl]
        include:
          - tox_job: py35
            python: 3.5
          - tox_job: py36
            python: 3.6
          - tox_job: py37
            python: 3.7
          - tox_job: py38
            python: 3.8
          - tox_job: py39
            python: 3.9
          - tox_job: no_pycurl
            python: 3.8

    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1

      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}

      - run: pip install tox coverage

      - run: sudo apt update && sudo apt install libcurl4-openssl-dev libssl-dev

      - name: Run ${{ matrix.tox_job }} tox job
        run: tox -e ${{ matrix.tox_job }}

      - run: coverage combine
      - run: coverage report
      - run: coverage xml -i

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3.0.0
        with:
          file: ./coverage.xml
